mcp/.n8n/to-do-list-agent.json
{
  "name": "To-do list agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"prompt\": \"The prompt for the agent.\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        80
      ],
      "id": "",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "REDACTED_ID",
          "maxIterations": 30
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        272,
        224
      ],
      "id": "",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {
          "maxOutputTokens": 1000000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        560
      ],
      "id": "",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        560
      ],
      "id": "",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "",
              "name": "chatInput",
              "value": "={{ $json.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        80
      ],
      "id": "",
      "name": "Rename field"
    },
    {
      "parameters": {
        "task": "MTIwNjM2OTMxNDc3ODQ5MDc2MjU6MDow",
        "title": "REDACTED_ID",
        "additionalFields": {
          "dueDate": "REDACTED_ID"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        528,
        592
      ],
      "id": "",
      "name": "Create task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "task": "MTIwNjM2OTMxNDc3ODQ5MDc2MjU6MDow",
        "taskId": "REDACTED_ID"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        624,
        688
      ],
      "id": "",
      "name": "Delete task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MTIwNjM2OTMxNDc3ODQ5MDc2MjU6MDow",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        704,
        560
      ],
      "id": "",
      "name": "Get all tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        336,
        448
      ],
      "id": "",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "",
          "name": "Zep Api account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Rename field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Rename field": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get all tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}